


/* .item-center {
    position: absolute;
    left: 0;
    transform: translate(%, 0);
} */

.carousel-item-card {
    display: flex;
    align-items: center;
    position: relative;
    width: var(--carousel-card-width);
    height: 17rem;
    border-radius: 1rem;
    background: #f3f3f3;
    box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.25);
}

.carousel-item-card:hover {
    cursor: pointer;
}

.carousel-item-image {
    /* display: flex; */
    width: 80%;
    height: auto;
    margin: 0 auto;

    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;

    /* The rule below is implemented in most browsers by now */
    user-select: none;
}

.carousel-item-image img {
    width: 100%;
}

.carousel-item-price,
.carousel-item-save,
.carousel-item-rating {
    position: absolute;
    margin: 0;
    /* bottom: 0;
    right: 0; */
}

.carousel-item-price {
    color: #2a2a2a;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 1rem;
    left: 1rem;
}

.carousel-item-save {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    left: 1rem;
    background-color: #fff;
    box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding-top: 0.1rem;
}

.carousel-item-rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: auto;
    height: 1rem;
    bottom: 1.3rem;
    right: 1rem;
    font-size: 0.625rem;
}

.rating-image {
    width: 0.625rem;
    height: 0.625rem;
}

.description-plant-name {
    text-align: center;
}