.header-utilities-container {
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 10;
}

.btn-active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #e1f3da;
    width: 3rem;
    height: 3rem;
}

.rating-image {
    width: 0.625rem;
    height: 0.625rem;
}

.menu-filter {
    margin: 0;
}

.content-container {
    position: relative;
    margin: 0;
    height: 100vh;
}

.menu-filter ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.menu-filter ul::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.menu-filter ul li {
    border-radius: 2.8125rem;
    background: #e1f3da;
    padding: 0.5rem 1.0625rem 0.5rem 1rem;
}

.menu-filter ul li button {
    background: none;
    color: #2f573b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-logo {
    width: 2.5rem;
    height: 2.5rem;
}

.header-slogan {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
}

.header-slogan-img-container {
    /* position: absolute;
  right: 0; */
    transform: translate(-320%, 0%);
    display: inline-block;
    width: 2rem;
    height: 3rem;
    background: #e1f3da;
    border-radius: 2.8125rem;
    margin: 0 1rem;
}

.header-slogan-img {
    width: 3rem;
    height: 4rem;
    transform: rotate(-35deg) translate(-25%, -35%);
    flex-shrink: 0;
}

.header-container {
    display: flex;
    flex-direction: column;

    width: 80%;
    padding-left: 1.2rem;
    padding-top: 3.2rem;
}

.header-user {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.user-name {
    margin: auto 0;
    color: #363636;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.8rem;
    text-align: left;
    padding-left: 0.5rem;
}

.user-name p {
    margin: 0;
    color: #a3a3a3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-slogan {
    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3.75rem;
}


@media screen and (min-width: 521px) {
    .header-slogan-img-container {
        /* position: absolute;
      right: 0; */
        transform: translate(0, 0%);
    }

    .menu-filter ul {
        justify-content: center;
    }
}
