

.navigation ul {
    display: flex;
    padding: 1.75rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100vw;
}

.navigation ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.navigation ul li a img {
    width: 1.5rem;
    height: 1.5rem;
    filter: opacity(0.3);
}

.navigation-item {
    display: flex;
    align-items: center;
}

.navigation-item-description-hidden {
    display: none;
}

.navigation-item-description-shown {
    display: inline-block;
    margin: 0;
    padding-left: 1rem;
    color: #2F573B;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 3rem;
}

.navigation ul li:has(.navigation-item-description-shown) a {
    background-color: #E1F3DA;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    filter: none;
}

.navigation ul li:has(.navigation-item-description-shown) a img {
    filter: none;
}

/* @media screen and (min-width: 720px) {
    .navigation ul {
        display: flex;
        padding: 1.75rem 2.8rem;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 100vw;
    }
} */