#root {
    text-align: center;
    margin: 0;
    color: #363636;
    height: 100vh;
}

select,
input {
    background-color: #fff;
    border: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

menu {
    padding: 0;
}

footer {
    display: block;
    background: #fff;
    border-radius: 2.625rem 2.625rem 0rem 0rem;
    box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.28);
    position: fixed;
    bottom: 0;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

h3 {
    margin: 0;
    padding-top: 0.87rem;
    color: #2b2b2b;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    margin: 0;
    color: #a3a3a3;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-header {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.25rem;
    background: #fff;
    box-shadow: 0px 10px 250px -5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-arrow-back {
    left: 1.25rem;
    background-image: url("/arrow-left-icon.svg");
}

.btn-favourite {
    right: 1.25rem;
    background-image: url("/heart-filled-icon.svg");
    background-size: 65%;
}



/* @media screen and (min-width: 840px) {
    position: absolute;
} */
